body{
background-image:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
Linear-gradient(127deg, black, black 70.71%),
Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

color: white;
}


a:hover {
	color:red;
}
.view:hover {
color: blue;

}



.background {
	background-image: url(../res/10.png);
	position: relative;
	height: 500px;
	width: 1510px;
	background-position: center;
	background-size: cover;
}

.cours{
	position: absolute;
	font-size: 80px;
	display: flex;
  margin-left:550px; 
  margin-top:200px;


}

.contact {

position: absolute;
	font-size: 80px;
	display: flex;
  margin-left:550px; 
  margin-top:200px;

}

img {
	padding: 20px 20px}



a {
font-size: 25px;
color:white;

}



ul li {
text-decoration: none;
display:inline-block;
padding-left: 50px;
margin-left: 220px; 
margin-bottom: 70px;


} 





ul li a {
text-decoration: none;
display:inline-block;
margin-bottom: 70px;


}


.logo img{
	width: 50px;
	height: 50px;
}

  a .menu   {
align-items:flex-start;
}

.navbar { position: relative;
	margin-bottom: : 50px;
	display: flex;
	
}

.lu li a{
	
}


